<div data-dojo-attach-point="layerContainer" class="layer_renderer" style="padding:1px;">
	<div style="display:block; height:30px">
	<div id="layerToolsLeft" style="display:inline-block; vertical-align:middle">
		<label class="layer_name">${item.title}</label>
	</div>
	<div id="layerToolsRight" style="float:right;display:inline-block; vertical-align:middle">
		<div id="btnVisible" title=" Visibility " class="toolIcon visibleImg" data-dojo-attach-point="btnVisibility"></div>
	</div>
	</div>
</div>