<div data-dojo-attach-point="serviceContainer" class="service_renderer collapsed" style="position:relative; padding:7px; display:inline-block; vertical-align:middle;">
	<div style="display:block; height:30px">
		<div id="layerToolsLeft" style="display:inline-block; vertical-align:middle">
			<div id="btnServiceGroup" title=" Expand/Collapse " class="groupIcon groupImg" data-dojo-attach-point="btnServiceGroup"></div>
			<label class="layer_name">${item.title}</label>
		</div>
		<div id="layerToolsRight" style="float:right;display:inline-block; vertical-align:middle">
			<div id="btnVisible" title=" Visibility " class="toolIcon visibleImg" data-dojo-attach-point="btnVisibility"></div>
		</div>
	</div>
	<hr>
	<div id="layersList" style="height:100%; overflow-y: auto;" data-dojo-attach-point="layersList"></div>
</div>